p{
    color:black;
    font:size 30px;
}
h1{
    color: dimgray;
    font: size 50px;
}
header{
    color: wheat;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: rgb(159, 72, 72);
    text-align: center;

}
footer{
    font-size: italic;
    color: black;
    background-color: rgb(159, 72, 72);
}
#Lake{
    display: block;
    width: 30%;
    margin: auto;    
}
*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
@media screen and (max-width: 1024px) {
    .Rotorua-lake{
        background-image: url(Rotorua-lake.jpg) cover center;
        min-width: 400px;
        overflow: auto;
    }
}